html,
body {
  margin: 0;
  height: 100%;
}

.waiting-wrapper {
  height: 100vh;
  line-height: 100vh;
  display: flex;
  flex-direction: column;
}

.waiting-box {
  max-height: 25%;
  font-size: 6rem;
  text-align: center;
  /* prevent dragging */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.waiting-box:hover {
  color: darkorange;
}

.input-wrapper {
  text-align: center;
  max-height: 25%;
}

.max-input {
  font-size: 1.5rem;
  width: 5rem;
  text-align: center;
  border: black solid 1px;
  border-radius: 0.1rem;
}

.counting-wrapper {
  display: flex;
}

.counting-box {
  flex: 1;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 6rem;
  /* prevent dragging */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.canvas-wrapper {
  flex: 1;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  align-content: center;
}

canvas {
  display: inline;
  margin: 0 auto 0 auto;
  vertical-align: middle;
}

.hidden {
  display: none;
}
