html,
body {
  margin: 0;
  height: 100%;
}

.waiting-box {
  height: 100vh;
  line-height: 100vh;
  font-size: 20rem;
  text-align: center;
}

.counting-wrapper {
  display: flex;
}

.counting-box {
  flex: 1;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 15rem;
}

.canvas-wrapper {
  flex: 1;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  align-content: center;
}

canvas {
  display: inline;
  margin: 0 auto 0 auto;
  vertical-align: middle;
}

.hidden {
  display: none;
}
