html,
body {
  margin: 0;
  height: 100%;
}

.waiting-box {
  height: 100vh;
  line-height: 100vh;
  font-size: 20rem;
  text-align: center;
}

.counting-box {
  font-size: 5rem;
}

.hidden {
  display: none;
}
